<script type="text/javascript">
  var lojas_form = new Ext.FormPanel({
      id: 'lojas_edit',
      url: '/lojas',
      renderTo: 'form-lojas',
      width: 465,
      defaultType: 'textfield',
      frame: true,
      items: [
        {
          xtype: 'hidden',
          name: 'loja[id]',
          id: 'loja_id',
          value: '<%= @loja.id %>'
        },{
          fieldLabel: 'Nome Loja',
          name: 'loja[nome_loja]',
          id: 'loja_nome_loja',
          value: '<%= @loja.nome_loja %>',
          allowBlank: false
        }
      ],
      buttons: [
        {
          text: 'Salvar',
          handler: function(){
            grupos_form.getForm().submit({
              success: function(f,a){
                grid.store.reload();
                janela.close();
              },
              failure: function(f,a){
                if (a.failureType === Ext.form.Action.CONNECT_FAILURE){
                  Ext.Msg.alert('Falhou', 'Servidor informou:' +
                  a.response.status+' '+a.response.statusText);
                }
                if (a.failureType === Ext.form.Action.SERVER_INVALID){
                  Ext.Msg.alert('Atenção', a.result.errormsg);
                }
                else
                {
                  Ext.Msg.alert('Falhou', 'Erro Desconhecido');
                }
              }
            });
          }
        },
        {
          text: 'Limpar',
          handler: function(){
          lojas_form.getForm().reset();
        }
      }]
    });
</script>
<div id='form-lojas'></div>
