  <div id="corpo">
    <div id="norte">
    </div>
    <div id="oeste">
      <div id="painel-oeste">
        <div id="menu-cadastros">
          <ul>
            <li id="opcao-pedidos_venda" class="link-menu">Pedido de Venda</li>
            <li id="opcao-pedido_assist" class="link-menu">Pedido de Assistência</li>
            <li id="opcao-nota_fiscal" class="link-menu">Notas Fiscais</li>
            <li id="opcao-minuta" class="link-menu">Minutas</li>
            <li id="opcao-relat" class="link-menu">Relatórios</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="centro1">
    </div>
  </div>

