  <div id="corpo">
    <div id="norte">
    </div>
    <div id="oeste">
      <div id="painel-oeste">
        <div id="menu-cadastros">
          <ul>
            <li id="cadastro-funcionarios" class="link-menu">Funcionários</li>
            <li id="cadastro-bancos" class="link-menu">Bancos</li>
          </ul>
        </div>
        <div id="menu-vendas">
          <ul>
            <li id="pedidos" class="link-menu">Pedido de Vendas</li>
            <li id="pedidos_de_assistencia" class="link-menu">Pedido de Assistencia</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="centro1">
    </div>
  </div>
