<div id="corpo">
 <div id="norte">
 </div>
 <div id="oeste">
  <div id="painel-oeste">
    <div id="menu-cadastros">
     <ul>
      <li id="opcao-param" class="link-menu">Parâmetros</li>
       <div id="menu_param">
        <ul>
          <li id="opcao-menu_param" class="link-menu">Estoque</li>
          <li id="opcao-menu_param" class="link-menu">Nota Fiscal</li>
          <li id="opcao-menu_param" class="link-menu">Etiquetas</li>
        </ul>
       </div>
      <li id="opcao-empresas" class="link-menu">Empresas</li>
      <li id="opcao-mat_prima" class="link-menu">Matéria Prima</li>
      <li id="opcao-funcionarios" class="link-menu">Funcionários</li>
      <li id="opcao-produtos" class="link-menu">Produto Acabado</li>
      <li id="opcao-clientes" class="link-menu">Clientes</li>
      <li id="opcao-fornecedores" class="link-menu">Fornecedores</li>
      <li id="opcao-grupos" class="link-menu">Grupos</li>
     </ul>
    </div>

   <div id="menu-vendas">
    <ul>
     <li id="opcao-pedidos_venda" class="link-menu">Pedido de Venda</li>
     <li id="opcao-pedido_assist" class="link-menu">Pedido de Assistência</li>
     <li id="opcao-nota_fiscal" class="link-menu">Notas Fiscais</li>
     <li id="opcao-minuta" class="link-menu">Minutas</li>
     <li id="opcao-relat" class="link-menu">Relatórios</li>
    </ul>
   </div>

    <div id="menu-estoque">
      <ul>
        <li id="opcao-cadastros" class="link-menu">Cadastros</li>
      </ul>
    </div>

    <div id="menu-financeiro">
      <ul>
        <li id="opcao-cadastros" class="link-menu">Cadastros</li>
      </ul>
    </div>
    </div>
    <div id="menu-manutencao">
      <ul>
        <li id="opcao-manutencao" class="link-menu">Cadastros</li>
      </ul>
    </div>

 </div>
 <div id="centro1">
  <div id='tela'>
  <img src='images/phototop_.gif'>
    Seja bem-vindo!
    O Grupo TubForm traz para sua comodidade a facilidade de adquirir nossos produtos e serviços de forma 
    rápida e fácil. Além de um suporte para acompanhamento de pedidos e dúvidas montagens.
  </div>
 </div>
</div>
