  <div id="corpo">
    <div id="norte">
    </div>
    <div id="oeste">
      <div id="painel-oeste">
        <div id="menu-cadastros">
          <ul>
            <li id="opcao-grupo" class="link-menu">Grupos</li>
            <li id="opcao-subgrupo" class="link-menu">Subgrupos</li>
            <li id="opcao-item" class="link-menu">Itens</li>
          </ul>
        </div>
      </div>
    </div>
    <div id="centro1">
    </div>
  </div>

