<h1>Editing pedido</h1>

<% form_for(@pedido) do |f| %>
  <%= f.error_messages %>

<%= render :partial => "form", :locals => { :f => f} %>

<% end %>

<%= link_to 'Exibir', @pedido %> |
<%= link_to 'Retornar', pedidos_path %>