  <% form_remote_tag :url => { :action => "iterando_nos_componente_enviados"} do %>
			<table border=1>
        <tr>
          <th>Código Componente:</th>
          <th>Descricao:</th>
          <th>Quantidade:</th>
        </tr>
       <% @exibeformcomponentes.each do |exibeformcomponente| %>
		    <tr>
           <td><%= exibeformcomponente.cod_compon %></td>
			     <td><%= exibeformcomponente.des_compon %></td>
           <td><%= exibeformcomponente.qtd_compon %></td>
        </tr>
     	<% end %>
       </table>

    <%= submit_tag "Enviar", :disable_with => "por favor espere..." %>
  <% end %>

