<p>
  <b>Controller name:</b>
  <%=h @acao.controller_name %>
</p>

<p>
  <b>Action name:</b>
  <%=h @acao.action_name %>
</p>


<%= link_to 'Edit', edit_acao_path(@acao) %> |
<%= link_to 'Back', acoes_path %>