<h1>Editar Item Pedido</h1>

<%= render :partial => "itempedido" %>

<%= link_to 'Exibir', @item_pedido %> |
<%= link_to 'Retornar', :controller => "pedidos",  :action => "show", :id => @item_pedido.pedido_id %>